

*{
    padding: 0;
    margin: 0;
}

.banner {
    background-color: #32aeb1;
}
.nav1 {
    display: flex;
    padding: 15px;
    margin-left: 75px;

}

.logo {
    width: 290px;
    height: 60px;

}

.search {
    padding: 20px;
    width: 500px;
    height: 40px;
    margin-top: 9px;
    border: 2px solid #af00ff;
    border-radius: 20px;
    position: relative;
    left: 65px;
}

.na1 {
    position: relative;
    left: 300px;
    font-size: 17px;
    top: 20px;

}

li {
    margin-left: 20px;
    list-style: none;
    display: inline-block;
}

.nav1 a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.img{
    position: relative;
    left: 50px;
}
.signup{
    display: flex;
    padding: 30px;
}
.form {
    width: 320px;
    height: 392px;
    position: relative;
    left: 200px;
    top: 60px;
    box-shadow: 0 8px 6px -6px black;
}
    

.form fieldset{
    padding: 20px 30px;
    box-sizing: border-box;

}
.button{
    margin: 50px;
    height: 40px;
    width: 50px;
    cursor: pointer;
    background-color: #32aeb1;
    color: white;
    border-radius: 1px;
    transition: width 2s, height 2s, transform 2s;
}
.button:hover{
/* width: 500px; */
/* height: 500px; */
transform: rotate3d(360deg);
}
.form fieldset input{
    margin: 6px;
    /* padding: 22px; */
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
    color: #2C3E50;

}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #32aeb1;
}
.footer{
    font-size: 14px;
    color: rgba(21,27,57,.6);
    text-align: center;
    font-family: 'Lato', sans-serif;

}